li {
    color: rgb(156, 133, 133);
}  

li:hover {
    color: darkslategray;
}

.heading {
    color: #512;
}

.para {
    color: #813;
}

.copy-right {
    color: rgb(156, 133, 133);
}

/* .form-box {
    padding: 6rem, 0 !important;
}

.form {
    width: 10rem;
    margin: 0 auto;
} */

/* .button-style {
    width: 25%;
    background: transparent;
    border-color: #512 !important;
}

.button-style :hover {
    background: #512 !important;

    border-color: #813;
} */

/* input {
    background: #512 !important;
    opacity: 7;
} */

/* .navbar {
    background: #512 !important;
    color: aliceblue !important;
} */

.nav-container-fluid {
    padding-right:0 ;
    padding-left:0;
    margin-right:auto ;
    margin-left:auto ;
 }

 .nav-item {
     margin-left: 50px;
     font-weight: 500;
 }

 .card-img-top {
     width: 10rem !important;
     align-items: center !important;
 }